@import url("/layout.css");

:root {
  color-scheme: light dark;
  --bg-color: light-dark(#faf4ed, #191724);
  --fg-color: light-dark(#575279, #e0def4);

  --bg-color-reverse: light-dark(#575279, #e0def4);
  --fg-color-reverse: light-dark(#faf4ed, #191724);

  --bg-color-3: light-dark(#f2e9e1, #26233a);
  --bg-color-3-switch: light-dark(#26233a, #f2e9e1);
  --bg-color-hard: light-dark(#fffaf3, #1f1d2e);
  --gray: light-dark(#9893a5, #6e6a86);

  --red: #eb6f92;
  --green: #9ccfd8;
  --yellow: #f6c177;
  --blue: #31748f;
  --purple: #c4a7e7;
  --aqua: #ebbcba;

  --red-dim: light-dark(#b4637a, #eb6f92);
  --green-dim: light-dark(#56949f, #9ccfd8);
  --yellow-dim: light-dark(#ea9d34, #f6c177);
  --blue-dim: light-dark(#286983, #31748f);
  --purple-dim: light-dark(#907aa9, #c4a7e7);
  --aqua-dim: light-dark(#d7827e, #ebbcba);
}

body {
  background-color: var(--bg-color);
  /*container-type: inline-size;*/
  font-family: "Curier New", monospace;
  margin: 0;
  min-height: 100svh;
  flex-direction: column;
  justify-content: space-evenly;
}

* {
  color: var(--fg-color);
  border: none;
  box-sizing: border-box;
}

h1,
h2 {
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  text-align: center;
  text-decoration: none;
}

.s1, .s2, .s3, .s4, .s5, .s6 {
  transition: background 0.7s ease-in-out;
  margin-bottom: 0;
  &:hover { background-color: var(--dim-color); }
}

.s1 { background-color: var(--red); --dim-color: var(--red-dim); }
.s2 { background-color: var(--green); --dim-color: var(--green-dim); }
.s3 { background-color: var(--yellow); --dim-color: var(--yellow-dim); }
.s4 { background-color: var(--blue); --dim-color: var(--blue-dim); }
.s5 { background-color: var(--purple); --dim-color: var(--purple-dim); }
.s6 { background-color: var(--aqua); --dim-color: var(--aqua-dim); }

.c {
  padding: 1em;
  background-color: var(--bg-color-3);
  text-align: center;
}

img {
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.3);
  border: none;
  box-shadow: 5px 4px 10px black;
}

.pager {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: var(--fg-color-reverse);
  text-align: center;
}

.btn {
  transition: background 0.4s ease-in-out;

  cursor: pointer;
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--bg-color-3-switch);
  }
}

.btn.pager-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;

  &.selected {
    background-color: var(--bg-color);
    color: var(--fg-color);

    border-color: var(--fg-color);
    border-width: thick;
    border-style: solid;
  }
}

.clickable {
  cursor: pointer;
}

.section {
  display: none;

  &.selected {
    display: block;
  }
}

.float-btns {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
}

.btn.float-btn {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;

  & i {
    color: var(--fg-color-reverse);
  }
}

.hidden {
  display: none !important;
}
